.heart-icon, .heart-icon-active, .like-text, .liked-text, .like-count, .like-count-1 {
  display: inline-flex !important;
}
.like-bg-color {
  background-color: rgb(0, 0, 0) !important;
}
.liked-bg-color {
  background-color: rgb(255, 255, 255) !important;
}
