.prize-total {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #f5b241;
  position: relative;
}
.refer-a-friend-wrapper {
  display: none;
  opacity: 0;
  transition: opacity .1s;

  &.show {
    display: block;
    opacity: 1;
    width: 400px;
    height: 400px;
  }
}
.refer-a-friend-menu {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(-15deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  transition: all .1s;

  &.show {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
}
