.item-tooltip {
  transform: translateY(0px, 10px, 0px);
  transform-style: preserve-3d;
  display: flex;
  opacity: 0;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.item-image-wrapper:hover + .item-tooltip {
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}
